.blue {
  color: blue;
  font-size: 20px;
  padding-right: 5px;
}

.pink {
  color: pink;
  font-size: 20px;
  padding-right: 5px;
}

ul li {
  display: flex;
  align-items: center;
  list-style: none;
  padding-top: 10px;
}
